.App {
    text-align: center;
    margin:auto;
    max-width: 40vw;
}
ul {
    padding: 0;
}
.Navbar li {
    display: inline;
    margin: auto 1rem;
}
.booklist li {
    list-style-type: none;
    margin: 1rem;
}